.searchStart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  width: 100%;
}

.searchName {
  align-self: flex-start;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  margin-right: 20px;
}

.searchForestForm {
  width: 295px;
}

.labelSearch {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 6px 0px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

.selectSearch {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;

  height: 40px;

  direction: rtl;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;

  option {
    color: black;
  }
}


#submitSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  align-self: center;
  width: 100%;

  background: #acae46;
  border-radius: 5px;
  color: #1d3c00;
  margin-top: 10px;
}

#submitSearch:focus {
  background: #acae46;
  color: #1d3c00;
}

select,
option {
  text-align: right;
}

option {
  margin-right: 16px;
}

.selectBox {
  margin-bottom: 10px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  left: 1.125em;
  right: initial;
  // border-color: white;
  border-width: 2px;
}

.displayForestButton {
  display: flex;
  justify-content: center;
}

.forestLabel {
  margin-top: 10px;
}

Select {
  background: rgba(255, 255, 255, 0.1);
}
