// Override bulma variables here
$navbar-box-shadow-size: 0 2px 3px;
$navbar-box-shadow-color: rgba(10, 10, 10, 0.1);
$family-primary: "Heebo", sans-serif;
$body-font-size: 14px;
$size-6: 16px;
$border: black;
$border-hover: black;
