@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-page {
  text-align: center;
}

.welcome-page {
  height: 810px;
  background-color: rgba(78, 63, 40, 1);
}

.top {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#open-pic {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 239px;
  height: 239px;
}

#website-title {
  // ask if to use with flex or text-align, cause it's noe shorter
  width: 308px;
  margin-top: 22px;
  margin-bottom: 0;
  left: 36px;
  top: 275px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  color: rgba(0, 0, 0, 1);
}

#sub-title {
  margin-top: -8px;
  width: 307px;
  top: 355px;
  left: 37px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #000000;
}

#btn-login {
  background-color: #3b5a16;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 105px;
  height: 37px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20.56px;
  color: #ffffff;
}

#btn-login:hover {
  background-color: rgba(209, 210, 174, 1);
  color: #000000;
}

#sign-in {
  width: 44px;
  height: 21px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20.56px;
  margin-bottom: 15px;
  color: #000000;
  text-align: center;
  text-decoration-line: underline;
}

#sign-in:hover {
  font-weight: bold;
}

#welcome-website-title {
  color: #ffffff;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  text-align: right;
  font-family: "Heebo";
  font-size: 24px;
  font-weight: 700;
  line-height: 35.25px;
}

#paragraph {
  direction: rtl;
  color: white;
  margin-right: 20px;
  text-align: right;
  font-family: "Heebo";
  font-style: normal;
  font-size: 12px;
  padding-left: 20px;
}

#btn-website-organization {
  background-color: rgb(213, 196, 164, 1);
  border-radius: 5px;
  width: 130px;
  height: 37px;
  padding: 8px, 12px, 8px, 12px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Heebo";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #4e3f28;
}

button:focus {
  border: none;
  outline: none;
}

#btn-website-organization:hover {
  background-color: rgba(209, 210, 174, 1);
  color: #000000;
}
